---
import BlogCard from '@/components/BlogCard.astro';
import Tags from '@/components/Tags.astro';
import ListLayout from '@/layouts/ListLayout.astro';
import {fetchPosts, getTags} from '@/utils/posts.mjs';



export const getStaticPaths = async function() {
  const allPosts = await fetchPosts();
  const tags = await getTags();

  return tags.map((tag) => {
    const posts = allPosts.filter((post) => post.tags.includes(tag));

    return {
      params: {tag},
      props: {posts, tags},
    };
  });
}


const {tag} = Astro.params;
const {posts, tags} = Astro.props;
const otherTags = (tags || []).filter((item: String) => item !== tag);
---

<ListLayout title={`${tag}`} description={`${tag} archive`}>
  <div class="text-center">
    <h1 class="text-2xl font-thin mb-4">
      topic:
      <span class="font-bold">{tag}</span>
    </h1>

  </div>
  <div class="flex flex-col justify-center items-center gap-12">
    {
      posts.map(
        (post: {
          readingTime: any;
          title: string;
          description: any;
          publishDate: any;
          date: any;
          permalink: string;
        }) => (
          <BlogCard
            title={post.title}
            description={post.description}
            date={post.date}
            publishDate={post.publishDate}
            readTime={post.readingTime}
            link={post.permalink}
          />
        )
      )
    }
  </div>
  <div class="mt-12 text-center">
    <h2 class="mb-8">
      <a href="/posts/" class="link border-2 p-2 rounded-md hover:border-neutral-200 dark:hover:border-slate-800">
        &larr; All posts
      </a>
    </h2>
    <h2 class="font-bold mb-2">Other topics</h2>
    <Tags tags={otherTags} class="text-sm mb-4 px-4 w-[330px] sm:w-[500px] mx-auto" extraItemClass="mb-2" />
  </div>
</ListLayout>
