---
interface BlogCardProps {
  title: string;
  description: string;
  date: string;
  readTime: string;
  link: string;
  tags: string[];
}

const {title, description, date, readTime, link, tags} = Astro.props;
---

<a
  href={link}
  rel='prefetch'
  class='border-2 border-neutral-400 rounded-md p-4 w-[330px] md:w-[500px] transition ease-out duration-300 hover:scale-105 hover:bg-zinc-100 font-sans'
>
  <h1 class='text-xl md:text-2xl font-semibold text-neutral-800'>{title}</h1>
  <h2 class='text-sm md:text-base text-neutral-500'>{description}</h2>
  <div class='flex gap-2 mt-2'>
    {
      tags?.map((tag: any) => (
        <p class='text-sm text-black font-mono font-bold underline decoration-emerald-500'>
          #{tag}
        </p>
      ))
    }
  </div>

  <div class='flex space-x-6 mt-3'>
    <time datetime={date} class='text-sm text-neutral-500'>
      📅 {
        new Date(date).toLocaleDateString('en-us', {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })
      }
    </time>
    <p class='text-sm text-neutral-500'>⌚ {readTime}</p>
  </div>
</a>
