---
interface BlogCardProps {
  title: string;
  description: string;
  date: string;
  publishDate: string;
  readTime: string;
  link: string;
  tags: string[];
  index: number;
}

const {title, description, date, publishDate, readTime, link, tags, index} = Astro.props;
---
<a
  href={link}
  rel="prefetch"
  id={index != null ? `post-${index}` : null}
  class="card block relative rounded-md p-4 w-[330px] sm:w-[500px] transition ease-out duration-300 hover:scale-105 border border-slate-200 dark:border-slate-700 hover:bg-slate-100  dark:hover:bg-slate-800 focus-visible:outline-none focus-visible:shadow-md dark:focus-visible:shadow-slate-300/40"
>
  <div class="post-metadata flex items-center mb-2">
    <time datetime={publishDate} class="text-sm text-gray-600 dark:text-gray-400">
      {date}
    </time>
    <span class="text-sm text-gray-600 dark:text-gray-400">{readTime} min read</span>
  </div>
  <h2 class="link text-xl md:text-2xl font-semibold">{title}</h2>
  {description && (<h3 class="text-sm md:text-base text-gray-600 dark:text-gray-400">{description}</h3>)}
</a>

<style>
  .card::after {
    @apply -bottom-6 h-4 left-1/2 -translate-x-1/2 text-slate-300 dark:text-slate-700;
    content: '❀ ✿ ❀';
    position: absolute;

  }
  .card:last-child::after {
    content: none;
  }

</style>
