---
import {config} from '@/utils/config.mjs';
import appleIcon from '@/assets/img/icon-180.png';
import svgIcon from '@/assets/img/icon.svg';
import mdImg from '@/assets/img/icon-192.png';

const appleSrc = appleIcon.src;

export interface Props {
  title: string;
  description: string;
  image?: string;
  ogType?: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = new URL(mdImg.src, Astro.site),
  ogType = 'website',
} = Astro.props;

const docTitle = title ? `${title} - ${config.siteTitle}` : config.siteTitle;
const metaTitle = title || config.siteTitle;
const metaDescription = config.getDescription(description);
---
<meta charset="utf-8" />
<title>{docTitle}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={metaDescription} />
<meta name="author" content={config.author} />

<link rel="canonical" href={canonicalURL} />
<link rel="manifest" href="/site.20231015aa.webmanifest" />
<link rel="icon" href="/favicon.20231015aa.ico" sizes="any" />
<link rel="icon" href={svgIcon.src} type="image/svg+xml" />
<link
  rel="apple-touch-icon"
  href={appleSrc}
/>
<meta name="theme-color" content="#075985" />
<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" href="https://blog.karlswedberg.com/rss.xml" title="Good Blog, Karl - RSS feed" />
<link rel="alternate" type="application/feed+json" href="https://blog.karlswedberg.com/feed.json" title="Good Blog, Karl - JSON feed" />
<link rel="alternate" type="application/atom+xml" href="https://blog.karlswedberg.com/atom.xml" title="Good Blog, Karl - ATOM feed" />

<!-- Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:site_name" content={config.siteTitle} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={metaDescription} />
<meta property="twitter:image" content={image} />
