---
import {config} from '@/utils/config.mjs';

const {home} = Astro.props;

import {Image} from '@astrojs/image/components';
import smImg from '@/assets/img/icon.svg';
---
<div
  class="mt-6 text-left font-sans flex items-center justify-between gap-6">
  <a href="/" class="flex gap-3 items-center">
    <Image src={smImg.src} loading="eager" alt="" class="h-16 w-16 mx-auto" height={64} width={64} />
    <div class="flex flex-col justify-center">
      <div class="text-2xl sm:text-3xl font-semibold text-black dark:text-white sm:tracking-widest">{config.siteTitle}</div>
      <span class="text-sm md:text-xl font-light text-gray-700 dark:text-slate-300">{config.description}</span>
    </div>
  </a>
  <a href="/about/" class="link">About</a>
</div>
