---
import {Picture} from 'astro:assets';
import PostTags from '@/components/Tags.astro';
import Icon from '@/components/Icon.astro';

const {post} = Astro.props;

const {prev = {}, next = {}, aged} = post;
---

<section>
  <article>
    <header class={post.image ? '' : ''}>
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mt-0 mb-2 sm:items-center">
        <p>

          <time datetime={post.publishDate}>{post.date}</time>
          {post.readingTime && <span> · {post.readingTime} min read</span>}
        </p>
      </div>
      <h1
        class="max-w-3xl text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {post.title}
      </h1>

      {aged && (
        <div class="flex gap-3 items-baseline my-6 px-6 py-4 lg:py-5 bg-yellow-50 dark:text-gray-700 rounded-md border border-yellow-500 dark:border-slate-700">
          <div class="h-4 w-4 text-yellow-500">
            <Icon icon="warn" />
          </div>
          <div><strong>Warning</strong>: This post was originally published <strong>{aged}</strong>. Content could be stale, irrelevant, or just plain wrong.</div>
        </div>
      )}

      {
        post.image && (
          <Picture
            src={post.image}
            class="max-w-full mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.description || ''}
            loading="eager"
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
        )
      }
    </header>
    <div
      class="post-content mt-8 prose prose-lg lg:prose-xl prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tight prose-headings:font-semibold prose-img:rounded-md dark:prose-invert dark:prose-headings:text-white"
    >
      {
        post.Content ? (
          <>
            {/* @ts-ignore */}
            <post.Content />
          </>
        ) : (
          <Fragment set:html={post.content} />
        )
      }
    </div>
    <div class="tags-wrapper relative mt-8 pt-8 flex items-center gap-2">
      <span class="text-gray-600 dark:text-gray-400">Filed under</span> <PostTags tags={post.tags} class="mr-5" />
    </div>
    <div class="mt-8 flex items-center gap-4 justify-between">
      {prev.permalink ? (<a class="link" rel="prev" href={prev.permalink}>&larr; previous</a>) : (<span> </span>)}
      {next.permalink ? (<a class="link" rel="next" href={next.permalink}>next &rarr;</a>) : (<span> </span>)}
    </div>
  </article>
</section>
<style>
  .tags-wrapper::before {
    @apply text-slate-300 dark:text-slate-700;
    content: '❀ ✿ ❀';
    position: absolute;
    top: -0.5rem;
    line-height: 1;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
