---
import PageFooter from '@/components/PageFooter.astro';
import Head from '@/components/Head.astro';
import PageMenu from '@/components/PageMenu.astro';
import SinglePost from '@/components/SinglePost.astro';

import '@/assets/css/main.css';

const {post} = Astro.props;

const dsn = 'goodblogkarl';
// Need /index.html to match disqus_identifier from old Jekyll blog
const dIdentifier = `${post.permalink}/index.html`;
const dURL = `${Astro.site}${post.slug}/`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={post.title}
      description={post.description || post.excerpt}
    />
  </head>
  <body>
    <div class="flex flex-col grow px-4 md:mx-auto md:max-w-3xl">
      <PageMenu />
      <main class="grow pt-8 sm:pt-16 lg:pt-20">
        <SinglePost post={post} />
        <section id="comments" class="comments mt-8" data-id={dIdentifier} data-url={dURL}>
          <div id="disqus_thread">
            <div class="loader hidden"><span>❀ </span><span>✿ </span><span>❀</span></div>
          </div>
          <div class="text-center">
            <button type="button" id="comment-btn" class="hidden text-white dark:text-sky-800 bg-sky-800 bg:text-sky-700 dark:bg-slate-200  dark:hover:bg-slate-300 py-1 px-3 rounded">Load comments</button>
          </div>
          <script is:inline>
          const el = document.getElementById('comments');
          if (el) {
            window.disqus_shortname = 'goodblogkarl';
            window.disqus_identifier = el.dataset.id;
            window.disqus_url = el.dataset.url
          }
          </script>

          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>
      </main>
    </div>
    <PageFooter />
    <script src="../assets/js/load-comments.js"></script>
  </body>
</html>
